.message {
  display: flex;
  align-content: center;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 999px;
  padding: 10px 10px;
}

.message__info {
  padding: 10px 0px;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
